In [1]:
import argparse
import sqlite3
import shutil
import time
import os

In [2]:
import pandas as pd
import numpy as n

# Пример работы с БД в Python

In [12]:
conn = sqlite3.connect('test_database') 
c = conn.cursor()

Создание БД

In [13]:
c.execute('''
          CREATE TABLE IF NOT EXISTS products
          ([product_id] INTEGER PRIMARY KEY, [product_name] TEXT)
          ''')

Заполнение БД

In [14]:
c.execute('''
          INSERT INTO products (product_id, product_name)
                VALUES
                (1,'Computer'),
                (2,'Printer'),
                (3,'Tablet'),
                (4,'Desk'),
                (5,'Chair')
          ''')

SQL-запрос и вывод результатов в Python

In [15]:
c.execute('''
select * from products
'''
)

In [16]:
pd.DataFrame(c.fetchall(), columns=['product_name','price'])

   product_name     price
0             1  Computer
1             2   Printer
2             3    Tablet
3             4      Desk
4             5     Chair

# ДЗ

Задание 1 [3 балла]. Создайте схему БД "Университет".

Она должна включать в себя минимально следующие отношения:

    - студенты (минимальные атрибуты: ФИО, номер зачётки, дата рождения, группа, год поступления)
    - посещаемые курсы (минимальные атрибуты: название курса, тип курса, дата введения в программу)
    - преподаватели (минимальные атрибуты: ФИО, дата рождения, дата начала работы в нашем университете, дата начала трудовой деятельности)
Атрибуты отношений должны быть осмысленными и соответствовать тематике.

In [3]:
conn = sqlite3.connect('university_database.db') 
c = conn.cursor()

In [4]:
c.execute('''
          CREATE TABLE IF NOT EXISTS Students(
              [student_id] INTEGER PRIMARY KEY,
              [surname] TEXT,
              [name] TEXT,
              [lastname] TEXT,
              [credit_no] INTEGER,
              [birthday] DATE,
              [study_group] TEXT,
              [admissionYear] INTEGER) ''')

c.execute('''          
          CREATE TABLE IF NOT EXISTS Courses(
              [course_id] INTEGER PRIMARY KEY,
              [title] TEXT,
              [type] TEXT,
              [introductionDate] DATE) ''')

c.execute('''          
          CREATE TABLE IF NOT EXISTS Professors(
              [professor_id] INTEGER PRIMARY KEY,
              [surname] TEXT,
              [name] TEXT,
              [lastName] TEXT,
              [birthdate] DATE,
              [startDateUniversity] DATE,
              [startDateWork] DATE)''')

c.execute('''          
          CREATE TABLE IF NOT EXISTS Teaching(
              [professor_id] INTEGER,
              [course_id] INTEGER,
              FOREIGN KEY(professor_id) REFERENCES Professors(professor_id),
              FOREIGN KEY(course_id) REFERENCES Courses(course_id)
          )
          ''')

c.execute('''          
          CREATE TABLE IF NOT EXISTS Attending(
              [student_id] INTEGER,
              [course_id] INTEGER,
              FOREIGN KEY (student_id) REFERENCES Students(student_id),
              FOREIGN KEY (course_id) REFERENCES Courses(course_id))''')

Между сущностями есть отношения:
    1) профессор читает лекции (мноие ко многим)
    2) студент посещает курс (многие ко многим)
Поэтому пользуемся ассоциотивным отношением, остальное тривиально

Задание 2 [1 балл]. Заполните вашу схему фейковыми записями - в отношении Студенты должно быть не менее 150 строк

В остальных - не менее 20 строк.

In [5]:
different_names = ['Агнесса', 'Алексей', ' Анжела', 'Белла', 'Бенедикт', 'Богдан', 'Валерий', 'Венера', 
                  'Виолетта', 'Габриэлла', 'Герман', 'Глория', 'Даниэла', 'Дмитрий', 'Дора',
                  'Ева', 'Ефим', 'Жаклин', 'Зоя', 'Иван', 'Инна', 'Ирина', 'Карина', 'Кирилл',
                  'Лидия', 'Марта', 'Мухаммед', 'Надежда', 'Николай', 'Оксана', 'Оскар', 'Стефания']

different_surnames = ['Иванов', 'Смирнов', 'Кузнецов', 'Попов', 'Васильев', 'Петров', 'Соколов', 'Михайлов',
                     'Новиков', 'Федоров', 'Морозов', 'Волков', 'Алексеев', 'Лебедев', 'Семенов', 'Егоров',
                     'Павлов', 'Козлов', 'Степанов', 'Николаев', 'Орлов', 'Андреев', 'Макаров', 'Никитин',
                     'Захаров', 'Зайцев', 'Соловьев']

different_lastnames = ['Александрович', 'Аркадьевич', 'Богданович', 'Борисович', 'Валерьевич', 'Витальевич',
                      'Владиславович', 'Геннадиевич', 'Григорьевич', 'Данилович', 'Дмитриевич', 'Ефимович',
                      'Евгеньевич', 'Игоревич', 'Исаакович', 'Кириллович', 'Максимович', 'Олегович']

letters = ['A', 'B', 'C', 'D']

In [6]:
from numpy import random

In [9]:
s = "INSERT INTO Students(student_id, surname, name, lastname, credit_no, birthday, study_group, admissionYear)\n\t\tVALUES"
cur_id = 0
for _ in range(150):
    surname = different_surnames[random.choice(len(different_surnames))]
    name = different_names[random.choice(len(different_names))]
    lastname = different_lastnames[random.choice(len(different_lastnames))]
    credit_no = random.randint(10**6, 10**7)
    year = random.randint(2000, 2005)
    month = random.randint(1, 13)
    day = random.randint(1, 32)
    addm_year = random.randint(2019, 2023)
    group = f'{letters[random.choice(len(letters))]}{str(addm_year)[-2:]}{random.randint(1, 6)}'
    cur_id += 1
    s += f"\n\t\t({cur_id},'{surname}','{name}','{lastname}',{credit_no},'{year}-{month//10}{month%10}-{day//10}{day%10}','{group}',{addm_year}),"

In [10]:
print(s[:-1])

INSERT INTO Students(student_id, surname, name, lastname, credit_no, birthdate, study_group, admissionYear)
		VALUES
		(1,'Степанов','Ефим','Максимович',4191511,'2001-01-26','D203',2020),
		(2,'Захаров','Лидия','Борисович',4506584,'2004-03-11','D192',2019),
		(3,'Петров','Габриэлла','Евгеньевич',5890271,'2002-07-05','C214',2021),
		(4,'Морозов','Инна','Игоревич',5071756,'2000-07-25','A223',2022),
		(5,'Васильев','Герман','Григорьевич',8049699,'2000-03-20','B222',2022),
		(6,'Смирнов','Николай','Исаакович',5693400,'2002-06-23','A191',2019),
		(7,'Кузнецов','Даниэла','Александрович',6322124,'2003-03-26','B221',2022),
		(8,'Никитин','Виолетта','Кириллович',5467633,'2004-08-09','D212',2021),
		(9,'Николаев','Глория','Олегович',3120218,'2004-06-29','A191',2019),
		(10,'Васильев','Иван','Дмитриевич',2130453,'2002-08-10','B204',2020),
		(11,'Макаров','Габриэлла','Олегович',5316870,'2003-11-06','B224',2022),
		(12,'Козлов','Виолетта','Кириллович',9920887,'2000-05-06','C221',2022),
		(13,'Попов','Ева','Максимович',5963255,'2004-08-14','D193',2019),
		(14,'Соловьев','Ефим','Геннадиевич',6732305,'2003-10-01','D224',2022),
		(15,'Волков','Бенедикт','Кириллович',4239939,'2002-11-24','D223',2022),
		(16,'Николаев','Виолетта','Аркадьевич',9859523,'2000-01-26','C225',2022),
		(17,'Федоров','Виолетта','Исаакович',7117168,'2000-12-09','A195',2019),
		(18,'Смирнов','Ефим','Владиславович',9042653,'2001-06-19','D202',2020),
		(19,'Попов','Даниэла','Игоревич',5778820,'2001-05-15','C192',2019),
		(20,'Васильев','Ирина','Богданович',6912152,'2000-08-25','A193',2019),
		(21,'Волков','Глория','Богданович',5150215,'2002-10-21','B203',2020),
		(22,'Степанов','Жаклин','Витальевич',6104000,'2001-07-07','C194',2019),
		(23,'Захаров','Стефания','Геннадиевич',8424820,'2001-09-25','A212',2021),
		(24,'Степанов','Кирилл','Богданович',2542293,'2000-07-22','A215',2021),
		(25,'Смирнов','Виолетта','Максимович',3579343,'2000-12-16','B212',2021),
		(26,'Кузнецов','Агнесса','Олегович',5498216,'2002-05-12','B194',2019),
		(27,'Захаров','Оскар','Витальевич',2279984,'2003-12-15','C193',2019),
		(28,'Морозов',' Анжела','Владиславович',5934762,'2003-04-11','D212',2021),
		(29,'Соловьев','Дмитрий','Игоревич',6628863,'2000-11-13','C205',2020),
		(30,'Егоров','Инна','Борисович',2026562,'2004-03-13','B221',2022),
		(31,'Соловьев','Инна','Кириллович',9748816,'2000-10-17','C204',2020),
		(32,'Попов','Бенедикт','Борисович',1325069,'2001-01-28','D214',2021),
		(33,'Захаров','Надежда','Дмитриевич',8186078,'2000-01-27','A201',2020),
		(34,'Павлов','Даниэла','Александрович',2731170,'2001-07-27','C205',2020),
		(35,'Степанов','Герман','Валерьевич',6192519,'2000-11-18','A213',2021),
		(36,'Васильев','Зоя','Дмитриевич',8829218,'2003-05-29','B202',2020),
		(37,'Андреев','Карина','Григорьевич',8958633,'2003-09-28','D222',2022),
		(38,'Иванов','Мухаммед','Исаакович',2960958,'2004-09-27','A211',2021),
		(39,'Соколов','Белла','Геннадиевич',7167271,'2003-08-19','B212',2021),
		(40,'Новиков','Инна','Исаакович',5364333,'2004-07-25','D215',2021),
		(41,'Андреев','Венера','Борисович',6821584,'2002-10-26','B204',2020),
		(42,'Новиков','Дора','Олегович',9422752,'2003-11-31','B202',2020),
		(43,'Петров','Надежда','Ефимович',4484125,'2002-02-08','C201',2020),
		(44,'Кузнецов','Зоя','Аркадьевич',2949789,'2001-08-15','A202',2020),
		(45,'Иванов','Валерий','Ефимович',2565383,'2001-07-10','B215',2021),
		(46,'Михайлов','Надежда','Исаакович',3396880,'2001-10-26','B195',2019),
		(47,'Николаев','Иван','Ефимович',1080951,'2002-07-10','A195',2019),
		(48,'Алексеев','Виолетта','Игоревич',5933298,'2000-03-20','C191',2019),
		(49,'Волков','Габриэлла','Аркадьевич',4875577,'2003-02-19','D195',2019),
		(50,'Егоров','Даниэла','Витальевич',6521649,'2000-03-27','A213',2021),
		(51,'Лебедев','Оскар','Данилович',7987775,'2004-09-02','B221',2022),
		(52,'Семенов','Лидия','Григорьевич',3631362,'2001-05-14','A191',2019),
		(53,'Захаров','Габриэлла','Богданович',7033290,'2002-09-26','C214',2021),
		(54,'Андреев','Виолетта','Максимович',5776853,'2003-03-06','C204',2020),
		(55,'Новиков','Герман','Валерьевич',6752255,'2004-05-27','C211',2021),
		(56,'Андреев','Инна','Евгеньевич',8577057,'2001-08-02','D225',2022),
		(57,'Орлов','Богдан','Борисович',4199475,'2002-08-24','C202',2020),
		(58,'Орлов','Виолетта','Ефимович',1261638,'2000-05-19','D213',2021),
		(59,'Михайлов','Кирилл','Дмитриевич',5928540,'2004-12-26','A214',2021),
		(60,'Лебедев','Карина','Александрович',7850097,'2004-06-01','A203',2020),
		(61,'Смирнов','Кирилл','Валерьевич',8865052,'2000-02-21','D225',2022),
		(62,'Васильев','Герман','Ефимович',9995013,'2002-05-06','C191',2019),
		(63,'Федоров','Стефания','Валерьевич',8815692,'2000-11-20','B214',2021),
		(64,'Морозов','Габриэлла','Игоревич',9077427,'2000-01-10','A201',2020),
		(65,'Кузнецов','Алексей','Максимович',9795924,'2003-02-28','A192',2019),
		(66,'Степанов','Ева','Максимович',2615069,'2001-12-04','B205',2020),
		(67,'Алексеев','Оскар','Богданович',2473693,'2003-08-24','B204',2020),
		(68,'Смирнов','Даниэла','Игоревич',9942414,'2004-10-09','C192',2019),
		(69,'Петров','Герман','Витальевич',7898453,'2003-04-09','A211',2021),
		(70,'Николаев','Лидия','Геннадиевич',2916632,'2001-05-12','B201',2020),
		(71,'Степанов','Габриэлла','Ефимович',5980820,'2000-01-07','C215',2021),
		(72,'Кузнецов','Бенедикт','Григорьевич',5917157,'2003-12-11','C221',2022),
		(73,'Макаров','Дора','Богданович',4511855,'2000-06-28','A201',2020),
		(74,'Попов','Ирина','Борисович',9269263,'2002-09-24','B191',2019),
		(75,'Попов','Агнесса','Александрович',9768112,'2004-04-29','A222',2022),
		(76,'Новиков','Стефания','Кириллович',7779031,'2000-07-14','A215',2021),
		(77,'Михайлов','Венера','Евгеньевич',2968428,'2001-03-10','C205',2020),
		(78,'Семенов','Карина','Владиславович',1345570,'2004-03-27','A192',2019),
		(79,'Лебедев','Агнесса','Богданович',3069813,'2000-10-15','D204',2020),
		(80,'Зайцев','Стефания','Ефимович',1914449,'2001-03-21','C215',2021),
		(81,'Соловьев','Жаклин','Данилович',6753192,'2002-05-31','A201',2020),
		(82,'Алексеев','Мухаммед','Борисович',4131453,'2003-03-22','D205',2020),
		(83,'Семенов','Белла','Олегович',9662056,'2003-01-05','B222',2022),
		(84,'Егоров','Ирина','Ефимович',9605397,'2003-11-23','C212',2021),
		(85,'Орлов','Жаклин','Исаакович',1965160,'2004-06-21','B191',2019),
		(86,'Попов','Ева','Григорьевич',8248828,'2000-06-11','B205',2020),
		(87,'Новиков','Алексей','Ефимович',1326553,'2002-12-05','B205',2020),
		(88,'Орлов','Дмитрий','Валерьевич',7207796,'2001-11-18','A215',2021),
		(89,'Кузнецов','Ефим','Валерьевич',3261913,'2002-03-29','A203',2020),
		(90,'Захаров','Ирина','Валерьевич',1839823,'2000-02-24','D193',2019),
		(91,'Андреев','Венера','Данилович',1135564,'2001-11-12','A225',2022),
		(92,'Михайлов','Оскар','Данилович',2818524,'2001-08-12','B222',2022),
		(93,'Васильев','Надежда','Валерьевич',8957638,'2002-01-21','A213',2021),
		(94,'Соколов','Жаклин','Аркадьевич',5733783,'2004-07-21','C222',2022),
		(95,'Васильев','Богдан','Витальевич',8470419,'2002-08-11','C203',2020),
		(96,'Иванов','Венера','Ефимович',3799096,'2001-04-31','B191',2019),
		(97,'Михайлов','Николай','Кириллович',3715150,'2003-02-12','A213',2021),
		(98,'Захаров','Дора','Евгеньевич',6058817,'2002-09-24','B192',2019),
		(99,'Иванов','Габриэлла','Богданович',8012928,'2001-05-26','C215',2021),
		(100,'Макаров','Глория','Олегович',3305089,'2001-10-05','D225',2022),
		(101,'Иванов','Ефим','Борисович',6188089,'2000-03-05','B201',2020),
		(102,'Зайцев','Ева','Евгеньевич',4359099,'2000-05-23','A223',2022),
		(103,'Федоров','Кирилл','Евгеньевич',3506162,'2000-08-31','D222',2022),
		(104,'Волков','Оскар','Дмитриевич',8761791,'2002-12-06','A224',2022),
		(105,'Алексеев','Оксана','Игоревич',5262020,'2000-01-21','D205',2020),
		(106,'Степанов','Иван','Максимович',5293577,'2001-06-05','C211',2021),
		(107,'Алексеев','Алексей','Валерьевич',7731523,'2002-07-24','B213',2021),
		(108,'Соколов','Оскар','Кириллович',5247574,'2004-09-11','B192',2019),
		(109,'Петров','Оскар','Аркадьевич',4296143,'2001-04-23','B195',2019),
		(110,'Соловьев','Ирина','Аркадьевич',4183119,'2000-03-05','C212',2021),
		(111,'Семенов','Оскар','Исаакович',7132250,'2001-04-07','D211',2021),
		(112,'Захаров','Агнесса','Дмитриевич',2063819,'2001-07-28','B195',2019),
		(113,'Соколов','Глория','Григорьевич',5263105,'2003-12-26','B202',2020),
		(114,'Васильев','Герман','Владиславович',4226492,'2002-10-14','B211',2021),
		(115,'Лебедев','Герман','Игоревич',7942055,'2004-04-21','B213',2021),
		(116,'Иванов','Глория','Владиславович',7698606,'2002-05-02','A221',2022),
		(117,'Семенов','Карина','Кириллович',1354744,'2001-01-02','D212',2021),
		(118,'Андреев','Марта','Данилович',9325174,'2001-10-28','B204',2020),
		(119,'Никитин','Николай','Владиславович',1864428,'2002-10-20','C193',2019),
		(120,'Морозов','Габриэлла','Витальевич',4980506,'2000-09-20','D191',2019),
		(121,'Смирнов','Богдан','Дмитриевич',5096582,'2000-10-28','C194',2019),
		(122,'Захаров','Оскар','Владиславович',7947174,'2002-01-29','B195',2019),
		(123,'Иванов','Инна','Дмитриевич',9824584,'2003-12-31','C212',2021),
		(124,'Морозов','Валерий','Александрович',7654976,'2004-02-11','B211',2021),
		(125,'Морозов','Богдан','Дмитриевич',5741595,'2000-04-31','A202',2020),
		(126,'Захаров','Иван','Богданович',6245774,'2001-06-18','B211',2021),
		(127,'Смирнов','Богдан','Данилович',6465807,'2000-01-17','C224',2022),
		(128,'Николаев','Кирилл','Олегович',5707546,'2001-11-10','B202',2020),
		(129,'Андреев','Мухаммед','Богданович',3183151,'2003-08-26','D213',2021),
		(130,'Соловьев','Инна','Борисович',6854655,'2003-08-31','A205',2020),
		(131,'Зайцев','Агнесса','Григорьевич',9239717,'2002-02-04','B204',2020),
		(132,'Алексеев','Кирилл','Борисович',7134828,'2001-05-14','D222',2022),
		(133,'Лебедев','Дмитрий','Валерьевич',5402384,'2000-01-07','D195',2019),
		(134,'Степанов','Венера','Валерьевич',1242096,'2000-11-31','A192',2019),
		(135,'Смирнов','Оксана','Аркадьевич',9670646,'2003-12-13','C191',2019),
		(136,'Соловьев','Зоя','Геннадиевич',2259701,'2001-05-28','B222',2022),
		(137,'Захаров','Дмитрий','Игоревич',6620927,'2004-06-19','D215',2021),
		(138,'Волков','Агнесса','Евгеньевич',1738339,'2003-10-27','C205',2020),
		(139,'Никитин','Оскар','Витальевич',3745409,'2003-07-26','B201',2020),
		(140,'Волков','Глория','Максимович',7765659,'2002-04-08','D195',2019),
		(141,'Федоров','Венера','Александрович',1583622,'2004-11-10','C191',2019),
		(142,'Алексеев','Венера','Григорьевич',2461191,'2001-07-06','A202',2020),
		(143,'Орлов','Белла','Борисович',8917227,'2001-11-09','D215',2021),
		(144,'Никитин','Алексей','Борисович',1366186,'2002-05-05','B194',2019),
		(145,'Васильев','Лидия','Кириллович',7019523,'2004-04-05','A201',2020),
		(146,'Петров','Виолетта','Евгеньевич',1737826,'2000-10-22','D224',2022),
		(147,'Иванов','Герман','Григорьевич',4175051,'2004-10-30','B193',2019),
		(148,'Волков','Дмитрий','Исаакович',8970432,'2001-04-21','C195',2019),
		(149,'Петров','Габриэлла','Максимович',8960820,'2002-05-19','B203',2020),
		(150,'Лебедев','Белла','Аркадьевич',6986639,'2001-11-13','D214',2021)

In [7]:
c.execute('''
          INSERT INTO Students(student_id, surname, name, lastname, credit_no, birthday, study_group, admissionYear)
		VALUES
		(1,'Степанов','Ефим','Максимович',4191511,'2001-01-26','D203',2020),
		(2,'Захаров','Лидия','Борисович',4506584,'2004-03-11','D192',2019),
		(3,'Петров','Габриэлла','Евгеньевич',5890271,'2002-07-05','C214',2021),
		(4,'Морозов','Инна','Игоревич',5071756,'2000-07-25','A223',2022),
		(5,'Васильев','Герман','Григорьевич',8049699,'2000-03-20','B222',2022),
		(6,'Смирнов','Николай','Исаакович',5693400,'2002-06-23','A191',2019),
		(7,'Кузнецов','Даниэла','Александрович',6322124,'2003-03-26','B221',2022),
		(8,'Никитин','Виолетта','Кириллович',5467633,'2004-08-09','D212',2021),
		(9,'Николаев','Глория','Олегович',3120218,'2004-06-29','A191',2019),
		(10,'Васильев','Иван','Дмитриевич',2130453,'2002-08-10','B204',2020),
		(11,'Макаров','Габриэлла','Олегович',5316870,'2003-11-06','B224',2022),
		(12,'Козлов','Виолетта','Кириллович',9920887,'2000-05-06','C221',2022),
		(13,'Попов','Ева','Максимович',5963255,'2004-08-14','D193',2019),
		(14,'Соловьев','Ефим','Геннадиевич',6732305,'2003-10-01','D224',2022),
		(15,'Волков','Бенедикт','Кириллович',4239939,'2002-11-24','D223',2022),
		(16,'Николаев','Виолетта','Аркадьевич',9859523,'2000-01-26','C225',2022),
		(17,'Федоров','Виолетта','Исаакович',7117168,'2000-12-09','A195',2019),
		(18,'Смирнов','Ефим','Владиславович',9042653,'2001-06-19','D202',2020),
		(19,'Попов','Даниэла','Игоревич',5778820,'2001-05-15','C192',2019),
		(20,'Васильев','Ирина','Богданович',6912152,'2000-08-25','A193',2019),
		(21,'Волков','Глория','Богданович',5150215,'2002-10-21','B203',2020),
		(22,'Степанов','Жаклин','Витальевич',6104000,'2001-07-07','C194',2019),
		(23,'Захаров','Стефания','Геннадиевич',8424820,'2001-09-25','A212',2021),
		(24,'Степанов','Кирилл','Богданович',2542293,'2000-07-22','A215',2021),
		(25,'Смирнов','Виолетта','Максимович',3579343,'2000-12-16','B212',2021),
		(26,'Кузнецов','Агнесса','Олегович',5498216,'2002-05-12','B194',2019),
		(27,'Захаров','Оскар','Витальевич',2279984,'2003-12-15','C193',2019),
		(28,'Морозов',' Анжела','Владиславович',5934762,'2003-04-11','D212',2021),
		(29,'Соловьев','Дмитрий','Игоревич',6628863,'2000-11-13','C205',2020),
		(30,'Егоров','Инна','Борисович',2026562,'2004-03-13','B221',2022),
		(31,'Соловьев','Инна','Кириллович',9748816,'2000-10-17','C204',2020),
		(32,'Попов','Бенедикт','Борисович',1325069,'2001-01-28','D214',2021),
		(33,'Захаров','Надежда','Дмитриевич',8186078,'2000-01-27','A201',2020),
		(34,'Павлов','Даниэла','Александрович',2731170,'2001-07-27','C205',2020),
		(35,'Степанов','Герман','Валерьевич',6192519,'2000-11-18','A213',2021),
		(36,'Васильев','Зоя','Дмитриевич',8829218,'2003-05-29','B202',2020),
		(37,'Андреев','Карина','Григорьевич',8958633,'2003-09-28','D222',2022),
		(38,'Иванов','Мухаммед','Исаакович',2960958,'2004-09-27','A211',2021),
		(39,'Соколов','Белла','Геннадиевич',7167271,'2003-08-19','B212',2021),
		(40,'Новиков','Инна','Исаакович',5364333,'2004-07-25','D215',2021),
		(41,'Андреев','Венера','Борисович',6821584,'2002-10-26','B204',2020),
		(42,'Новиков','Дора','Олегович',9422752,'2003-11-31','B202',2020),
		(43,'Петров','Надежда','Ефимович',4484125,'2002-02-08','C201',2020),
		(44,'Кузнецов','Зоя','Аркадьевич',2949789,'2001-08-15','A202',2020),
		(45,'Иванов','Валерий','Ефимович',2565383,'2001-07-10','B215',2021),
		(46,'Михайлов','Надежда','Исаакович',3396880,'2001-10-26','B195',2019),
		(47,'Николаев','Иван','Ефимович',1080951,'2002-07-10','A195',2019),
		(48,'Алексеев','Виолетта','Игоревич',5933298,'2000-03-20','C191',2019),
		(49,'Волков','Габриэлла','Аркадьевич',4875577,'2003-02-19','D195',2019),
		(50,'Егоров','Даниэла','Витальевич',6521649,'2000-03-27','A213',2021),
		(51,'Лебедев','Оскар','Данилович',7987775,'2004-09-02','B221',2022),
		(52,'Семенов','Лидия','Григорьевич',3631362,'2001-05-14','A191',2019),
		(53,'Захаров','Габриэлла','Богданович',7033290,'2002-09-26','C214',2021),
		(54,'Андреев','Виолетта','Максимович',5776853,'2003-03-06','C204',2020),
		(55,'Новиков','Герман','Валерьевич',6752255,'2004-05-27','C211',2021),
		(56,'Андреев','Инна','Евгеньевич',8577057,'2001-08-02','D225',2022),
		(57,'Орлов','Богдан','Борисович',4199475,'2002-08-24','C202',2020),
		(58,'Орлов','Виолетта','Ефимович',1261638,'2000-05-19','D213',2021),
		(59,'Михайлов','Кирилл','Дмитриевич',5928540,'2004-12-26','A214',2021),
		(60,'Лебедев','Карина','Александрович',7850097,'2004-06-01','A203',2020),
		(61,'Смирнов','Кирилл','Валерьевич',8865052,'2000-02-21','D225',2022),
		(62,'Васильев','Герман','Ефимович',9995013,'2002-05-06','C191',2019),
		(63,'Федоров','Стефания','Валерьевич',8815692,'2000-11-20','B214',2021),
		(64,'Морозов','Габриэлла','Игоревич',9077427,'2000-01-10','A201',2020),
		(65,'Кузнецов','Алексей','Максимович',9795924,'2003-02-28','A192',2019),
		(66,'Степанов','Ева','Максимович',2615069,'2001-12-04','B205',2020),
		(67,'Алексеев','Оскар','Богданович',2473693,'2003-08-24','B204',2020),
		(68,'Смирнов','Даниэла','Игоревич',9942414,'2004-10-09','C192',2019),
		(69,'Петров','Герман','Витальевич',7898453,'2003-04-09','A211',2021),
		(70,'Николаев','Лидия','Геннадиевич',2916632,'2001-05-12','B201',2020),
		(71,'Степанов','Габриэлла','Ефимович',5980820,'2000-01-07','C215',2021),
		(72,'Кузнецов','Бенедикт','Григорьевич',5917157,'2003-12-11','C221',2022),
		(73,'Макаров','Дора','Богданович',4511855,'2000-06-28','A201',2020),
		(74,'Попов','Ирина','Борисович',9269263,'2002-09-24','B191',2019),
		(75,'Попов','Агнесса','Александрович',9768112,'2004-04-29','A222',2022),
		(76,'Новиков','Стефания','Кириллович',7779031,'2000-07-14','A215',2021),
		(77,'Михайлов','Венера','Евгеньевич',2968428,'2001-03-10','C205',2020),
		(78,'Семенов','Карина','Владиславович',1345570,'2004-03-27','A192',2019),
		(79,'Лебедев','Агнесса','Богданович',3069813,'2000-10-15','D204',2020),
		(80,'Зайцев','Стефания','Ефимович',1914449,'2001-03-21','C215',2021),
		(81,'Соловьев','Жаклин','Данилович',6753192,'2002-05-31','A201',2020),
		(82,'Алексеев','Мухаммед','Борисович',4131453,'2003-03-22','D205',2020),
		(83,'Семенов','Белла','Олегович',9662056,'2003-01-05','B222',2022),
		(84,'Егоров','Ирина','Ефимович',9605397,'2003-11-23','C212',2021),
		(85,'Орлов','Жаклин','Исаакович',1965160,'2004-06-21','B191',2019),
		(86,'Попов','Ева','Григорьевич',8248828,'2000-06-11','B205',2020),
		(87,'Новиков','Алексей','Ефимович',1326553,'2002-12-05','B205',2020),
		(88,'Орлов','Дмитрий','Валерьевич',7207796,'2001-11-18','A215',2021),
		(89,'Кузнецов','Ефим','Валерьевич',3261913,'2002-03-29','A203',2020),
		(90,'Захаров','Ирина','Валерьевич',1839823,'2000-02-24','D193',2019),
		(91,'Андреев','Венера','Данилович',1135564,'2001-11-12','A225',2022),
		(92,'Михайлов','Оскар','Данилович',2818524,'2001-08-12','B222',2022),
		(93,'Васильев','Надежда','Валерьевич',8957638,'2002-01-21','A213',2021),
		(94,'Соколов','Жаклин','Аркадьевич',5733783,'2004-07-21','C222',2022),
		(95,'Васильев','Богдан','Витальевич',8470419,'2002-08-11','C203',2020),
		(96,'Иванов','Венера','Ефимович',3799096,'2001-04-31','B191',2019),
		(97,'Михайлов','Николай','Кириллович',3715150,'2003-02-12','A213',2021),
		(98,'Захаров','Дора','Евгеньевич',6058817,'2002-09-24','B192',2019),
		(99,'Иванов','Габриэлла','Богданович',8012928,'2001-05-26','C215',2021),
		(100,'Макаров','Глория','Олегович',3305089,'2001-10-05','D225',2022),
		(101,'Иванов','Ефим','Борисович',6188089,'2000-03-05','B201',2020),
		(102,'Зайцев','Ева','Евгеньевич',4359099,'2000-05-23','A223',2022),
		(103,'Федоров','Кирилл','Евгеньевич',3506162,'2000-08-31','D222',2022),
		(104,'Волков','Оскар','Дмитриевич',8761791,'2002-12-06','A224',2022),
		(105,'Алексеев','Оксана','Игоревич',5262020,'2000-01-21','D205',2020),
		(106,'Степанов','Иван','Максимович',5293577,'2001-06-05','C211',2021),
		(107,'Алексеев','Алексей','Валерьевич',7731523,'2002-07-24','B213',2021),
		(108,'Соколов','Оскар','Кириллович',5247574,'2004-09-11','B192',2019),
		(109,'Петров','Оскар','Аркадьевич',4296143,'2001-04-23','B195',2019),
		(110,'Соловьев','Ирина','Аркадьевич',4183119,'2000-03-05','C212',2021),
		(111,'Семенов','Оскар','Исаакович',7132250,'2001-04-07','D211',2021),
		(112,'Захаров','Агнесса','Дмитриевич',2063819,'2001-07-28','B195',2019),
		(113,'Соколов','Глория','Григорьевич',5263105,'2003-12-26','B202',2020),
		(114,'Васильев','Герман','Владиславович',4226492,'2002-10-14','B211',2021),
		(115,'Лебедев','Герман','Игоревич',7942055,'2004-04-21','B213',2021),
		(116,'Иванов','Глория','Владиславович',7698606,'2002-05-02','A221',2022),
		(117,'Семенов','Карина','Кириллович',1354744,'2001-01-02','D212',2021),
		(118,'Андреев','Марта','Данилович',9325174,'2001-10-28','B204',2020),
		(119,'Никитин','Николай','Владиславович',1864428,'2002-10-20','C193',2019),
		(120,'Морозов','Габриэлла','Витальевич',4980506,'2000-09-20','D191',2019),
		(121,'Смирнов','Богдан','Дмитриевич',5096582,'2000-10-28','C194',2019),
		(122,'Захаров','Оскар','Владиславович',7947174,'2002-01-29','B195',2019),
		(123,'Иванов','Инна','Дмитриевич',9824584,'2003-12-31','C212',2021),
		(124,'Морозов','Валерий','Александрович',7654976,'2004-02-11','B211',2021),
		(125,'Морозов','Богдан','Дмитриевич',5741595,'2000-04-31','A202',2020),
		(126,'Захаров','Иван','Богданович',6245774,'2001-06-18','B211',2021),
		(127,'Смирнов','Богдан','Данилович',6465807,'2000-01-17','C224',2022),
		(128,'Николаев','Кирилл','Олегович',5707546,'2001-11-10','B202',2020),
		(129,'Андреев','Мухаммед','Богданович',3183151,'2003-08-26','D213',2021),
		(130,'Соловьев','Инна','Борисович',6854655,'2003-08-31','A205',2020),
		(131,'Зайцев','Агнесса','Григорьевич',9239717,'2002-02-04','B204',2020),
		(132,'Алексеев','Кирилл','Борисович',7134828,'2001-05-14','D222',2022),
		(133,'Лебедев','Дмитрий','Валерьевич',5402384,'2000-01-07','D195',2019),
		(134,'Степанов','Венера','Валерьевич',1242096,'2000-11-31','A192',2019),
		(135,'Смирнов','Оксана','Аркадьевич',9670646,'2003-12-13','C191',2019),
		(136,'Соловьев','Зоя','Геннадиевич',2259701,'2001-05-28','B222',2022),
		(137,'Захаров','Дмитрий','Игоревич',6620927,'2004-06-19','D215',2021),
		(138,'Волков','Агнесса','Евгеньевич',1738339,'2003-10-27','C205',2020),
		(139,'Никитин','Оскар','Витальевич',3745409,'2003-07-26','B201',2020),
		(140,'Волков','Глория','Максимович',7765659,'2002-04-08','D195',2019),
		(141,'Федоров','Венера','Александрович',1583622,'2004-11-10','C191',2019),
		(142,'Алексеев','Венера','Григорьевич',2461191,'2001-07-06','A202',2020),
		(143,'Орлов','Белла','Борисович',8917227,'2001-11-09','D215',2021),
		(144,'Никитин','Алексей','Борисович',1366186,'2002-05-05','B194',2019),
		(145,'Васильев','Лидия','Кириллович',7019523,'2004-04-05','A201',2020),
		(146,'Петров','Виолетта','Евгеньевич',1737826,'2000-10-22','D224',2022),
		(147,'Иванов','Герман','Григорьевич',4175051,'2004-10-30','B193',2019),
		(148,'Волков','Дмитрий','Исаакович',8970432,'2001-04-21','C195',2019),
		(149,'Петров','Габриэлла','Максимович',8960820,'2002-05-19','B203',2020),
		(150,'Лебедев','Белла','Аркадьевич',6986639,'2001-11-13','D214',2021)
          ''')

In [12]:
s = "INSERT INTO Professors(professor_id, surname, name, lastname, birthdate, startDateUniversity, startDateWork)\n\t\tVALUES"
cur_id = 0
for _ in range(50):
    surname = different_surnames[random.choice(len(different_surnames))]
    name = different_names[random.choice(len(different_names))]
    lastname = different_lastnames[random.choice(len(different_lastnames))]
    year = random.randint(1940, 1980)
    month = random.randint(1, 13)
    day = random.randint(1, 32)
    date_uni = random.randint(1970, 2023)
    while date_uni - year < 25:
        date_uni = random.randint(1970, 2023)
    date_work = random.randint(1965, 2019)
    while date_work > date_uni or date_uni - year < 25:
        date_work = random.randint(1965, 2019)
    cur_id += 1
    s += f"\n\t\t({cur_id},'{surname}','{name}','{lastname}','{year}-{month//10}{month%10}-{day//10}{day%10}',{date_uni}, {date_work}),"

In [13]:
print(s[:-1])

INSERT INTO Professors(professor_id, surname, name, lastname, birthdate, startDateUniversity, startDateWork)
		VALUES
		(1,'Волков','Дора','Данилович','1967-05-10',2007, 1997),
		(2,'Макаров','Лидия','Витальевич','1965-01-15',2017, 2006),
		(3,'Новиков','Надежда','Григорьевич','1971-01-10',2005, 2005),
		(4,'Козлов','Стефания','Григорьевич','1955-04-08',2017, 1980),
		(5,'Федоров','Мухаммед','Богданович','1956-04-16',2003, 1968),
		(6,'Васильев',' Анжела','Дмитриевич','1950-11-26',2001, 1984),
		(7,'Федоров','Агнесса','Витальевич','1940-11-16',1995, 1978),
		(8,'Никитин','Лидия','Игоревич','1941-02-28',2002, 1969),
		(9,'Андреев','Глория','Валерьевич','1959-05-06',2001, 1988),
		(10,'Лебедев','Карина','Григорьевич','1957-09-17',2020, 2015),
		(11,'Михайлов','Валерий','Кириллович','1959-08-22',1994, 1976),
		(12,'Лебедев','Ефим','Геннадиевич','1943-03-26',2001, 1984),
		(13,'Орлов','Иван','Дмитриевич','1969-02-03',2006, 1980),
		(14,'Соколов','Агнесса','Борисович','1965-03-12',2008, 1977),
		(15,'Макаров','Габриэлла','Александрович','1972-01-15',2004, 1966),
		(16,'Кузнецов','Валерий','Григорьевич','1955-04-27',2001, 1971),
		(17,'Попов','Агнесса','Ефимович','1942-09-11',2018, 1965),
		(18,'Иванов','Герман','Богданович','1950-03-21',2011, 1989),
		(19,'Васильев','Кирилл','Ефимович','1942-09-11',1987, 1973),
		(20,'Степанов','Герман','Аркадьевич','1955-10-06',2008, 1976),
		(21,'Иванов','Алексей','Данилович','1973-05-18',2022, 1991),
		(22,'Макаров','Дмитрий','Игоревич','1960-07-21',2000, 1992),
		(23,'Козлов','Алексей','Игоревич','1960-08-12',2002, 1989),
		(24,'Иванов','Ирина','Витальевич','1944-08-08',2017, 1969),
		(25,'Захаров','Венера','Евгеньевич','1942-08-14',1996, 1995),
		(26,'Морозов','Карина','Александрович','1948-09-13',1978, 1977),
		(27,'Волков','Венера','Максимович','1940-10-03',1993, 1974),
		(28,'Козлов','Глория','Кириллович','1952-06-23',2005, 1965),
		(29,'Михайлов','Иван','Исаакович','1945-03-27',1999, 1979),
		(30,'Волков','Даниэла','Александрович','1951-07-23',1998, 1984),
		(31,'Козлов','Алексей','Исаакович','1966-05-26',1993, 1986),
		(32,'Макаров','Карина','Геннадиевич','1948-08-17',2017, 1980),
		(33,'Федоров','Жаклин','Данилович','1956-02-02',2011, 1976),
		(34,'Михайлов','Николай','Кириллович','1972-08-18',2019, 1992),
		(35,'Федоров','Оскар','Кириллович','1940-04-22',1970, 1966),
		(36,'Волков','Карина','Владиславович','1965-07-10',2001, 1989),
		(37,'Волков','Оскар','Кириллович','1977-08-21',2007, 2007),
		(38,'Волков','Мухаммед','Кириллович','1948-09-01',1975, 1973),
		(39,'Соловьев','Герман','Данилович','1970-07-27',1999, 1999),
		(40,'Петров','Инна','Максимович','1972-08-28',2017, 1967),
		(41,'Соловьев','Кирилл','Витальевич','1969-03-10',1999, 1967),
		(42,'Петров','Марта','Ефимович','1941-04-23',1981, 1965),
		(43,'Морозов','Габриэлла','Игоревич','1950-03-07',1993, 1972),
		(44,'Михайлов','Венера','Григорьевич','1953-04-07',2016, 2008),
		(45,'Петров','Дмитрий','Владиславович','1979-07-07',2010, 2007),
		(46,'Алексеев','Оксана','Максимович','1976-08-15',2005, 1990),
		(47,'Морозов','Николай','Ефимович','1943-02-19',1999, 1967),
		(48,'Иванов','Николай','Григорьевич','1947-09-17',2021, 2003),
		(49,'Семенов','Бенедикт','Витальевич','1974-04-04',2022, 2007),
		(50,'Морозов','Ева','Александрович','1965-09-25',2004, 1971)

In [14]:
c.execute('''
        INSERT INTO Professors(professor_id, surname, name, lastname, birthdate, startDateUniversity, startDateWork)
		VALUES
		(1,'Волков','Дора','Данилович','1967-05-10',2007, 1997),
		(2,'Макаров','Лидия','Витальевич','1965-01-15',2017, 2006),
		(3,'Новиков','Надежда','Григорьевич','1971-01-10',2005, 2005),
		(4,'Козлов','Стефания','Григорьевич','1955-04-08',2017, 1980),
		(5,'Федоров','Мухаммед','Богданович','1956-04-16',2003, 1968),
		(6,'Васильев',' Анжела','Дмитриевич','1950-11-26',2001, 1984),
		(7,'Федоров','Агнесса','Витальевич','1940-11-16',1995, 1978),
		(8,'Никитин','Лидия','Игоревич','1941-02-28',2002, 1969),
		(9,'Андреев','Глория','Валерьевич','1959-05-06',2001, 1988),
		(10,'Лебедев','Карина','Григорьевич','1957-09-17',2020, 2015),
		(11,'Михайлов','Валерий','Кириллович','1959-08-22',1994, 1976),
		(12,'Лебедев','Ефим','Геннадиевич','1943-03-26',2001, 1984),
		(13,'Орлов','Иван','Дмитриевич','1969-02-03',2006, 1980),
		(14,'Соколов','Агнесса','Борисович','1965-03-12',2008, 1977),
		(15,'Макаров','Габриэлла','Александрович','1972-01-15',2004, 1966),
		(16,'Кузнецов','Валерий','Григорьевич','1955-04-27',2001, 1971),
		(17,'Попов','Агнесса','Ефимович','1942-09-11',2018, 1965),
		(18,'Иванов','Герман','Богданович','1950-03-21',2011, 1989),
		(19,'Васильев','Кирилл','Ефимович','1942-09-11',1987, 1973),
		(20,'Степанов','Герман','Аркадьевич','1955-10-06',2008, 1976),
		(21,'Иванов','Алексей','Данилович','1973-05-18',2022, 1991),
		(22,'Макаров','Дмитрий','Игоревич','1960-07-21',2000, 1992),
		(23,'Козлов','Алексей','Игоревич','1960-08-12',2002, 1989),
		(24,'Иванов','Ирина','Витальевич','1944-08-08',2017, 1969),
		(25,'Захаров','Венера','Евгеньевич','1942-08-14',1996, 1995),
		(26,'Морозов','Карина','Александрович','1948-09-13',1978, 1977),
		(27,'Волков','Венера','Максимович','1940-10-03',1993, 1974),
		(28,'Козлов','Глория','Кириллович','1952-06-23',2005, 1965),
		(29,'Михайлов','Иван','Исаакович','1945-03-27',1999, 1979),
		(30,'Волков','Даниэла','Александрович','1951-07-23',1998, 1984),
		(31,'Козлов','Алексей','Исаакович','1966-05-26',1993, 1986),
		(32,'Макаров','Карина','Геннадиевич','1948-08-17',2017, 1980),
		(33,'Федоров','Жаклин','Данилович','1956-02-02',2011, 1976),
		(34,'Михайлов','Николай','Кириллович','1972-08-18',2019, 1992),
		(35,'Федоров','Оскар','Кириллович','1940-04-22',1970, 1966),
		(36,'Волков','Карина','Владиславович','1965-07-10',2001, 1989),
		(37,'Волков','Оскар','Кириллович','1977-08-21',2007, 2007),
		(38,'Волков','Мухаммед','Кириллович','1948-09-01',1975, 1973),
		(39,'Соловьев','Герман','Данилович','1970-07-27',1999, 1999),
		(40,'Петров','Инна','Максимович','1972-08-28',2017, 1967),
		(41,'Соловьев','Кирилл','Витальевич','1969-03-10',1999, 1967),
		(42,'Петров','Марта','Ефимович','1941-04-23',1981, 1965),
		(43,'Морозов','Габриэлла','Игоревич','1950-03-07',1993, 1972),
		(44,'Михайлов','Венера','Григорьевич','1953-04-07',2016, 2008),
		(45,'Петров','Дмитрий','Владиславович','1979-07-07',2010, 2007),
		(46,'Алексеев','Оксана','Максимович','1976-08-15',2005, 1990),
		(47,'Морозов','Николай','Ефимович','1943-02-19',1999, 1967),
		(48,'Иванов','Николай','Григорьевич','1947-09-17',2021, 2003),
		(49,'Семенов','Бенедикт','Витальевич','1974-04-04',2022, 2007),
		(50,'Морозов','Ева','Александрович','1965-09-25',2004, 1971)
''')

In [15]:
c.execute('''
            INSERT INTO Courses(course_id, title, type, introductionDate)
            VALUES
            (1, 'Теоретическая механика', 'обязательный', 2018),
            (2, 'Английский язык для коммуникации', 'факультатив', 2020),
            (3, 'Машинное обучение', 'по выбору', 2022),
            (4, 'ТФКП', 'обязательный', 2019),
            (5, 'Функциональный анализ', 'обязательный', 2020),
            (6, 'Теория вероятностей', 'обязательный', 2018),
            (7, 'Математическая статистика', 'обязательный', 2018),
            (8, 'Подготовка к международным экзаменам по английскому языку', 'факультатив', 2020),
            (9, 'Алгоритмы и структуры данных', 'обязательный', 2020),
            (10, 'Компьютерный практикум по математике', 'обязательный', 2021),
            (11, 'Математический анализ', 'обязательный', 2018),
            (12, 'Линейная алгебра', 'обязательный', 2018),
            (13, 'Аналитическая геометрия', 'обязательный', 2018),
            (14, 'Алгебра', 'обязательный', 2018),
            (15, 'Дискретная математика', 'обязательный', 2018),
            (16, 'История', 'обязательный', 2019),
            (17, 'Экономика', 'по выбору', 2019),
            (18, 'Анализ данных', 'по выбору', 2021),
            (20, 'Социология', 'по выбору', 2022)
            
''')

In [23]:
s = 'INSERT INTO Teaching(professor_id, course_id)\n\t\tVALUES'
cur_id = 0
for _ in range(150):
    prof_id = random.randint(1, 51)
    course_id = random.randint(1, 21)
    cur_id += 1
    s += f"\n\t\t({prof_id},{course_id}),"
print(s[:-1])

INSERT INTO Teaching(professor_id, course_id)
		VALUES
		(22,14),
		(13,4),
		(33,6),
		(27,18),
		(12,12),
		(30,3),
		(16,8),
		(2,1),
		(43,10),
		(24,5),
		(33,14),
		(37,8),
		(31,10),
		(50,1),
		(7,11),
		(14,9),
		(41,3),
		(26,9),
		(38,18),
		(33,9),
		(17,1),
		(43,11),
		(25,10),
		(2,14),
		(50,2),
		(28,11),
		(26,8),
		(41,7),
		(39,14),
		(44,18),
		(16,7),
		(46,9),
		(13,1),
		(43,3),
		(23,6),
		(42,8),
		(18,19),
		(39,15),
		(9,10),
		(1,2),
		(24,19),
		(6,7),
		(49,10),
		(44,17),
		(37,12),
		(35,20),
		(31,5),
		(33,17),
		(19,14),
		(31,16),
		(37,11),
		(22,1),
		(26,17),
		(35,19),
		(29,18),
		(46,17),
		(46,12),
		(39,15),
		(33,8),
		(14,13),
		(10,4),
		(27,2),
		(28,1),
		(30,18),
		(6,8),
		(12,1),
		(16,13),
		(1,8),
		(48,2),
		(39,7),
		(19,4),
		(33,3),
		(28,10),
		(16,7),
		(13,7),
		(10,2),
		(42,19),
		(1,11),
		(31,2),
		(5,8),
		(30,11),
		(8,9),
		(49,20),
		(35,16),
		(48,15),
		(44,5),
		(5,8),
		(12,1),
		(10,3),
		(12,20),
		(37,15),
		(36,3),
		(39,19),
		(34,16),
		(45,18),
		(33,7),
		(17,20),
		(48,12),
		(32,12),
		(4,20),
		(15,19),
		(29,9),
		(35,3),
		(45,12),
		(5,17),
		(5,5),
		(12,20),
		(25,18),
		(44,8),
		(25,6),
		(21,8),
		(40,8),
		(4,2),
		(17,20),
		(5,4),
		(24,18),
		(35,9),
		(37,4),
		(26,19),
		(14,14),
		(29,10),
		(23,19),
		(19,5),
		(41,5),
		(5,11),
		(32,15),
		(13,7),
		(30,5),
		(32,8),
		(17,6),
		(11,18),
		(15,9),
		(5,1),
		(3,19),
		(11,7),
		(35,7),
		(6,1),
		(48,13),
		(21,20),
		(5,7),
		(41,14),
		(39,8),
		(14,1),
		(17,5),
		(17,5),
		(42,12),
		(25,4),
		(43,18),
		(1,7),
		(28,14)

In [16]:
c.execute('''
        INSERT INTO Teaching(professor_id, course_id)
		VALUES
		(22,14),
		(13,4),
		(33,6),
		(27,18),
		(12,12),
		(30,3),
		(16,8),
		(2,1),
		(43,10),
		(24,5),
		(33,14),
		(37,8),
		(31,10),
		(50,1),
		(7,11),
		(14,9),
		(41,3),
		(26,9),
		(38,18),
		(33,9),
		(17,1),
		(43,11),
		(25,10),
		(2,14),
		(50,2),
		(28,11),
		(26,8),
		(41,7),
		(39,14),
		(44,18),
		(16,7),
		(46,9),
		(13,1),
		(43,3),
		(23,6),
		(42,8),
		(18,19),
		(39,15),
		(9,10),
		(1,2),
		(24,19),
		(6,7),
		(49,10),
		(44,17),
		(37,12),
		(35,20),
		(31,5),
		(33,17),
		(19,14),
		(31,16),
		(37,11),
		(22,1),
		(26,17),
		(35,19),
		(29,18),
		(46,17),
		(46,12),
		(39,15),
		(33,8),
		(14,13),
		(10,4),
		(27,2),
		(28,1),
		(30,18),
		(6,8),
		(12,1),
		(16,13),
		(1,8),
		(48,2),
		(39,7),
		(19,4),
		(33,3),
		(28,10),
		(16,7),
		(13,7),
		(10,2),
		(42,19),
		(1,11),
		(31,2),
		(5,8),
		(30,11),
		(8,9),
		(49,20),
		(35,16),
		(48,15),
		(44,5),
		(5,8),
		(12,1),
		(10,3),
		(12,20),
		(37,15),
		(36,3),
		(39,19),
		(34,16),
		(45,18),
		(33,7),
		(17,20),
		(48,12),
		(32,12),
		(4,20),
		(15,19),
		(29,9),
		(35,3),
		(45,12),
		(5,17),
		(5,5),
		(12,20),
		(25,18),
		(44,8),
		(25,6),
		(21,8),
		(40,8),
		(4,2),
		(17,20),
		(5,4),
		(24,18),
		(35,9),
		(37,4),
		(26,19),
		(14,14),
		(29,10),
		(23,19),
		(19,5),
		(41,5),
		(5,11),
		(32,15),
		(13,7),
		(30,5),
		(32,8),
		(17,6),
		(11,18),
		(15,9),
		(5,1),
		(3,19),
		(11,7),
		(35,7),
		(6,1),
		(48,13),
		(21,20),
		(5,7),
		(41,14),
		(39,8),
		(14,1),
		(17,5),
		(17,5),
		(42,12),
		(25,4),
		(43,18),
		(1,7),
		(28,14)
''')

In [11]:
s = 'INSERT INTO Attending(student_id, course_id)\n\t\tVALUES'
cur_id = 0
for _ in range(750):
    stud_id = random.randint(1, 151)
    course_id = random.randint(1, 21)
    cur_id += 1
    s += f"\n\t\t({stud_id},{course_id}),"
print(s[:-1])

INSERT INTO Attending(student_id, course_id)
		VALUES
		(58,16),
		(30,10),
		(45,7),
		(61,1),
		(51,17),
		(8,12),
		(36,5),
		(101,5),
		(138,3),
		(21,6),
		(62,16),
		(89,9),
		(131,10),
		(76,18),
		(76,16),
		(95,8),
		(130,10),
		(102,17),
		(34,3),
		(140,7),
		(138,20),
		(87,2),
		(48,11),
		(127,3),
		(37,9),
		(1,9),
		(113,4),
		(74,13),
		(65,1),
		(118,15),
		(130,1),
		(83,1),
		(63,20),
		(149,11),
		(35,11),
		(19,9),
		(40,3),
		(107,14),
		(49,1),
		(107,19),
		(14,4),
		(49,5),
		(78,7),
		(68,4),
		(32,17),
		(139,13),
		(7,12),
		(20,13),
		(129,13),
		(96,5),
		(96,18),
		(1,15),
		(94,9),
		(117,16),
		(140,16),
		(131,15),
		(150,16),
		(122,8),
		(130,9),
		(68,11),
		(95,5),
		(35,5),
		(111,6),
		(11,19),
		(110,5),
		(114,1),
		(29,17),
		(18,7),
		(96,10),
		(12,8),
		(7,16),
		(43,20),
		(85,13),
		(101,7),
		(97,10),
		(11,11),
		(24,16),
		(105,13),
		(1,11),
		(53,18),
		(59,1),
		(57,15),
		(98,17),
		(85,15),
		(30,8),
		(65,9),
		(9,9),
		(100,16),
		(9,14),
		(90,3),
		(4,20),
		(149,14),
		(96,16),
		(126,9),
		(122,16),
		(60,13),
		(128,7),
		(66,19),
		(113,4),
		(46,3),
		(78,14),
		(49,17),
		(4,5),
		(1,2),
		(107,3),
		(134,11),
		(75,12),
		(105,8),
		(124,18),
		(37,11),
		(38,1),
		(103,4),
		(95,5),
		(46,18),
		(3,1),
		(79,11),
		(94,3),
		(133,1),
		(9,20),
		(111,19),
		(72,14),
		(87,7),
		(103,18),
		(46,8),
		(108,5),
		(28,4),
		(104,6),
		(82,19),
		(147,18),
		(128,5),
		(57,14),
		(129,14),
		(53,3),
		(19,18),
		(36,1),
		(80,11),
		(108,3),
		(144,20),
		(51,13),
		(123,10),
		(120,14),
		(31,16),
		(63,16),
		(103,10),
		(53,17),
		(115,13),
		(12,11),
		(121,4),
		(58,12),
		(107,7),
		(88,14),
		(70,4),
		(34,9),
		(54,20),
		(86,7),
		(115,6),
		(143,5),
		(142,14),
		(125,19),
		(52,11),
		(8,11),
		(39,2),
		(124,1),
		(85,1),
		(32,20),
		(143,4),
		(116,1),
		(33,13),
		(89,15),
		(101,13),
		(96,4),
		(89,3),
		(36,15),
		(51,1),
		(72,19),
		(117,16),
		(108,12),
		(4,13),
		(18,17),
		(127,18),
		(39,8),
		(122,9),
		(51,17),
		(9,12),
		(54,6),
		(61,20),
		(39,16),
		(6,2),
		(134,14),
		(103,7),
		(60,17),
		(8,10),
		(71,11),
		(36,1),
		(44,19),
		(25,9),
		(75,10),
		(111,2),
		(99,12),
		(6,1),
		(82,17),
		(64,13),
		(14,1),
		(81,12),
		(150,10),
		(12,3),
		(97,1),
		(57,1),
		(95,6),
		(141,7),
		(53,4),
		(142,5),
		(112,16),
		(82,19),
		(101,12),
		(67,18),
		(67,17),
		(77,10),
		(67,15),
		(112,13),
		(62,15),
		(52,8),
		(111,4),
		(12,4),
		(42,19),
		(63,13),
		(53,14),
		(130,15),
		(56,5),
		(150,19),
		(63,6),
		(28,14),
		(138,7),
		(41,3),
		(136,17),
		(40,18),
		(116,16),
		(70,12),
		(133,12),
		(67,8),
		(87,12),
		(134,5),
		(82,8),
		(62,18),
		(110,16),
		(138,17),
		(126,12),
		(43,19),
		(25,10),
		(57,16),
		(108,5),
		(144,18),
		(136,6),
		(123,1),
		(115,13),
		(129,10),
		(57,14),
		(128,15),
		(48,19),
		(52,3),
		(37,17),
		(102,19),
		(15,17),
		(80,1),
		(21,15),
		(20,19),
		(52,19),
		(56,18),
		(48,18),
		(144,16),
		(91,20),
		(61,1),
		(148,6),
		(62,10),
		(1,19),
		(81,4),
		(117,10),
		(109,8),
		(91,12),
		(103,18),
		(141,11),
		(105,16),
		(3,8),
		(99,19),
		(130,18),
		(12,6),
		(73,11),
		(49,1),
		(72,15),
		(28,8),
		(127,13),
		(2,14),
		(83,6),
		(72,11),
		(65,19),
		(85,18),
		(127,4),
		(17,8),
		(17,7),
		(142,16),
		(139,5),
		(11,17),
		(14,13),
		(93,2),
		(115,15),
		(145,2),
		(63,19),
		(64,13),
		(129,19),
		(102,11),
		(123,1),
		(147,4),
		(95,5),
		(91,2),
		(71,6),
		(25,10),
		(26,19),
		(108,17),
		(112,16),
		(76,14),
		(116,3),
		(109,7),
		(139,3),
		(85,12),
		(95,19),
		(35,3),
		(142,6),
		(140,5),
		(126,17),
		(59,5),
		(114,16),
		(115,4),
		(127,3),
		(142,15),
		(74,19),
		(18,2),
		(90,16),
		(89,20),
		(23,4),
		(39,1),
		(38,1),
		(137,13),
		(146,14),
		(139,11),
		(8,6),
		(146,17),
		(4,9),
		(56,9),
		(39,3),
		(50,16),
		(37,19),
		(103,10),
		(8,2),
		(111,4),
		(3,2),
		(60,12),
		(69,2),
		(118,11),
		(5,9),
		(49,11),
		(101,4),
		(124,20),
		(56,13),
		(127,10),
		(92,7),
		(30,18),
		(50,15),
		(67,18),
		(50,14),
		(60,5),
		(143,20),
		(21,7),
		(131,17),
		(89,13),
		(120,20),
		(48,2),
		(83,9),
		(84,18),
		(108,12),
		(136,17),
		(40,2),
		(57,15),
		(73,13),
		(107,7),
		(85,20),
		(62,2),
		(133,5),
		(76,15),
		(123,3),
		(56,19),
		(10,12),
		(122,1),
		(56,10),
		(33,6),
		(60,19),
		(141,4),
		(130,18),
		(14,19),
		(113,10),
		(84,15),
		(62,12),
		(124,17),
		(148,17),
		(126,8),
		(3,10),
		(141,6),
		(90,11),
		(40,7),
		(89,4),
		(2,8),
		(53,1),
		(146,17),
		(36,3),
		(76,5),
		(19,12),
		(144,13),
		(31,19),
		(61,17),
		(128,3),
		(73,5),
		(53,19),
		(10,15),
		(27,11),
		(102,12),
		(11,20),
		(75,11),
		(147,14),
		(139,7),
		(130,6),
		(97,1),
		(107,19),
		(66,14),
		(17,13),
		(5,20),
		(126,1),
		(80,6),
		(13,8),
		(5,1),
		(34,19),
		(62,11),
		(114,18),
		(98,1),
		(65,11),
		(3,1),
		(116,17),
		(73,8),
		(134,7),
		(113,16),
		(123,18),
		(113,10),
		(84,16),
		(62,15),
		(78,13),
		(7,16),
		(125,14),
		(27,16),
		(47,8),
		(71,3),
		(132,5),
		(1,14),
		(74,2),
		(134,5),
		(39,16),
		(20,3),
		(5,8),
		(100,19),
		(92,14),
		(110,12),
		(44,3),
		(7,14),
		(99,16),
		(6,3),
		(132,5),
		(42,19),
		(86,10),
		(117,20),
		(54,18),
		(143,10),
		(110,16),
		(104,19),
		(38,17),
		(56,11),
		(72,12),
		(7,9),
		(145,5),
		(101,1),
		(144,10),
		(5,15),
		(5,9),
		(119,12),
		(60,3),
		(138,19),
		(71,18),
		(121,16),
		(121,13),
		(112,13),
		(123,18),
		(62,18),
		(54,15),
		(67,2),
		(52,4),
		(58,5),
		(57,9),
		(2,20),
		(132,6),
		(9,19),
		(40,18),
		(77,18),
		(34,5),
		(102,2),
		(136,6),
		(107,19),
		(126,20),
		(30,11),
		(71,11),
		(19,9),
		(65,14),
		(18,6),
		(91,7),
		(3,16),
		(117,10),
		(149,19),
		(43,19),
		(38,13),
		(10,15),
		(23,13),
		(60,16),
		(91,5),
		(9,17),
		(37,11),
		(86,16),
		(12,9),
		(79,6),
		(112,7),
		(33,13),
		(76,3),
		(126,14),
		(56,15),
		(53,6),
		(116,19),
		(133,14),
		(123,20),
		(38,10),
		(83,8),
		(110,7),
		(112,14),
		(110,8),
		(121,13),
		(114,15),
		(133,10),
		(137,3),
		(21,1),
		(116,4),
		(9,1),
		(121,6),
		(86,17),
		(122,15),
		(37,19),
		(85,12),
		(114,12),
		(30,17),
		(79,19),
		(103,12),
		(70,12),
		(92,5),
		(40,2),
		(48,2),
		(122,6),
		(73,4),
		(147,19),
		(6,1),
		(138,12),
		(148,20),
		(107,2),
		(35,8),
		(137,6),
		(25,2),
		(23,10),
		(103,6),
		(55,2),
		(101,16),
		(42,19),
		(14,18),
		(85,4),
		(129,1),
		(110,6),
		(123,19),
		(94,4),
		(92,15),
		(131,17),
		(82,4),
		(16,4),
		(44,18),
		(42,1),
		(34,12),
		(98,12),
		(110,9),
		(24,3),
		(86,9),
		(142,17),
		(51,19),
		(88,2),
		(52,4),
		(15,19),
		(33,8),
		(74,11),
		(91,3),
		(9,17),
		(28,11),
		(116,20),
		(47,13),
		(74,14),
		(110,7),
		(135,20),
		(9,13),
		(11,12),
		(100,14),
		(141,10),
		(61,14),
		(38,1),
		(73,12),
		(101,18),
		(89,14),
		(23,17),
		(47,2),
		(54,10),
		(19,1),
		(10,18),
		(23,13),
		(138,5),
		(74,10),
		(67,10),
		(44,10),
		(109,18),
		(150,18),
		(30,12),
		(128,6),
		(114,7),
		(56,14),
		(12,17),
		(133,12),
		(8,9),
		(44,2),
		(14,3),
		(43,4),
		(36,4),
		(38,16),
		(127,17),
		(34,11),
		(107,9),
		(144,8),
		(24,20),
		(84,3),
		(121,18),
		(150,15),
		(91,13),
		(82,16),
		(93,6),
		(135,9),
		(47,18),
		(119,10),
		(133,15),
		(97,8),
		(148,3),
		(140,7),
		(90,18),
		(101,3),
		(84,9),
		(111,17),
		(103,14),
		(12,15),
		(108,17),
		(130,8),
		(4,9),
		(106,14),
		(121,20),
		(125,2),
		(142,1),
		(22,8),
		(149,12),
		(67,9),
		(8,17),
		(76,8),
		(50,12),
		(90,18),
		(93,15),
		(74,10),
		(61,5),
		(66,10),
		(95,18),
		(8,18),
		(145,17),
		(18,15),
		(139,20),
		(115,1),
		(38,17),
		(90,15),
		(95,6),
		(13,20),
		(16,15),
		(126,13),
		(87,17),
		(59,17),
		(135,13),
		(56,3),
		(68,17),
		(69,18),
		(31,14),
		(106,9),
		(62,12),
		(118,12),
		(101,16),
		(1,20),
		(146,16),
		(147,19),
		(64,13),
		(94,1),
		(13,10),
		(75,19),
		(122,15),
		(149,3),
		(34,3),
		(2,11),
		(80,12),
		(109,19),
		(13,5),
		(92,16),
		(79,15),
		(149,2),
		(115,10),
		(131,8),
		(57,20),
		(19,15),
		(80,4),
		(41,16),
		(14,7),
		(113,8),
		(135,8),
		(92,12),
		(84,1),
		(3,1),
		(46,1),
		(32,12),
		(105,2),
		(111,16),
		(53,1),
		(45,13),
		(35,2),
		(112,13),
		(110,2)

In [17]:
c.execute('''
            INSERT INTO Attending(student_id, course_id)
		VALUES
		(58,16),
		(30,10),
		(45,7),
		(61,1),
		(51,17),
		(8,12),
		(36,5),
		(101,5),
		(138,3),
		(21,6),
		(62,16),
		(89,9),
		(131,10),
		(76,18),
		(76,16),
		(95,8),
		(130,10),
		(102,17),
		(34,3),
		(140,7),
		(138,20),
		(87,2),
		(48,11),
		(127,3),
		(37,9),
		(1,9),
		(113,4),
		(74,13),
		(65,1),
		(118,15),
		(130,1),
		(83,1),
		(63,20),
		(149,11),
		(35,11),
		(19,9),
		(40,3),
		(107,14),
		(49,1),
		(107,19),
		(14,4),
		(49,5),
		(78,7),
		(68,4),
		(32,17),
		(139,13),
		(7,12),
		(20,13),
		(129,13),
		(96,5),
		(96,18),
		(1,15),
		(94,9),
		(117,16),
		(140,16),
		(131,15),
		(150,16),
		(122,8),
		(130,9),
		(68,11),
		(95,5),
		(35,5),
		(111,6),
		(11,19),
		(110,5),
		(114,1),
		(29,17),
		(18,7),
		(96,10),
		(12,8),
		(7,16),
		(43,20),
		(85,13),
		(101,7),
		(97,10),
		(11,11),
		(24,16),
		(105,13),
		(1,11),
		(53,18),
		(59,1),
		(57,15),
		(98,17),
		(85,15),
		(30,8),
		(65,9),
		(9,9),
		(100,16),
		(9,14),
		(90,3),
		(4,20),
		(149,14),
		(96,16),
		(126,9),
		(122,16),
		(60,13),
		(128,7),
		(66,19),
		(113,4),
		(46,3),
		(78,14),
		(49,17),
		(4,5),
		(1,2),
		(107,3),
		(134,11),
		(75,12),
		(105,8),
		(124,18),
		(37,11),
		(38,1),
		(103,4),
		(95,5),
		(46,18),
		(3,1),
		(79,11),
		(94,3),
		(133,1),
		(9,20),
		(111,19),
		(72,14),
		(87,7),
		(103,18),
		(46,8),
		(108,5),
		(28,4),
		(104,6),
		(82,19),
		(147,18),
		(128,5),
		(57,14),
		(129,14),
		(53,3),
		(19,18),
		(36,1),
		(80,11),
		(108,3),
		(144,20),
		(51,13),
		(123,10),
		(120,14),
		(31,16),
		(63,16),
		(103,10),
		(53,17),
		(115,13),
		(12,11),
		(121,4),
		(58,12),
		(107,7),
		(88,14),
		(70,4),
		(34,9),
		(54,20),
		(86,7),
		(115,6),
		(143,5),
		(142,14),
		(125,19),
		(52,11),
		(8,11),
		(39,2),
		(124,1),
		(85,1),
		(32,20),
		(143,4),
		(116,1),
		(33,13),
		(89,15),
		(101,13),
		(96,4),
		(89,3),
		(36,15),
		(51,1),
		(72,19),
		(117,16),
		(108,12),
		(4,13),
		(18,17),
		(127,18),
		(39,8),
		(122,9),
		(51,17),
		(9,12),
		(54,6),
		(61,20),
		(39,16),
		(6,2),
		(134,14),
		(103,7),
		(60,17),
		(8,10),
		(71,11),
		(36,1),
		(44,19),
		(25,9),
		(75,10),
		(111,2),
		(99,12),
		(6,1),
		(82,17),
		(64,13),
		(14,1),
		(81,12),
		(150,10),
		(12,3),
		(97,1),
		(57,1),
		(95,6),
		(141,7),
		(53,4),
		(142,5),
		(112,16),
		(82,19),
		(101,12),
		(67,18),
		(67,17),
		(77,10),
		(67,15),
		(112,13),
		(62,15),
		(52,8),
		(111,4),
		(12,4),
		(42,19),
		(63,13),
		(53,14),
		(130,15),
		(56,5),
		(150,19),
		(63,6),
		(28,14),
		(138,7),
		(41,3),
		(136,17),
		(40,18),
		(116,16),
		(70,12),
		(133,12),
		(67,8),
		(87,12),
		(134,5),
		(82,8),
		(62,18),
		(110,16),
		(138,17),
		(126,12),
		(43,19),
		(25,10),
		(57,16),
		(108,5),
		(144,18),
		(136,6),
		(123,1),
		(115,13),
		(129,10),
		(57,14),
		(128,15),
		(48,19),
		(52,3),
		(37,17),
		(102,19),
		(15,17),
		(80,1),
		(21,15),
		(20,19),
		(52,19),
		(56,18),
		(48,18),
		(144,16),
		(91,20),
		(61,1),
		(148,6),
		(62,10),
		(1,19),
		(81,4),
		(117,10),
		(109,8),
		(91,12),
		(103,18),
		(141,11),
		(105,16),
		(3,8),
		(99,19),
		(130,18),
		(12,6),
		(73,11),
		(49,1),
		(72,15),
		(28,8),
		(127,13),
		(2,14),
		(83,6),
		(72,11),
		(65,19),
		(85,18),
		(127,4),
		(17,8),
		(17,7),
		(142,16),
		(139,5),
		(11,17),
		(14,13),
		(93,2),
		(115,15),
		(145,2),
		(63,19),
		(64,13),
		(129,19),
		(102,11),
		(123,1),
		(147,4),
		(95,5),
		(91,2),
		(71,6),
		(25,10),
		(26,19),
		(108,17),
		(112,16),
		(76,14),
		(116,3),
		(109,7),
		(139,3),
		(85,12),
		(95,19),
		(35,3),
		(142,6),
		(140,5),
		(126,17),
		(59,5),
		(114,16),
		(115,4),
		(127,3),
		(142,15),
		(74,19),
		(18,2),
		(90,16),
		(89,20),
		(23,4),
		(39,1),
		(38,1),
		(137,13),
		(146,14),
		(139,11),
		(8,6),
		(146,17),
		(4,9),
		(56,9),
		(39,3),
		(50,16),
		(37,19),
		(103,10),
		(8,2),
		(111,4),
		(3,2),
		(60,12),
		(69,2),
		(118,11),
		(5,9),
		(49,11),
		(101,4),
		(124,20),
		(56,13),
		(127,10),
		(92,7),
		(30,18),
		(50,15),
		(67,18),
		(50,14),
		(60,5),
		(143,20),
		(21,7),
		(131,17),
		(89,13),
		(120,20),
		(48,2),
		(83,9),
		(84,18),
		(108,12),
		(136,17),
		(40,2),
		(57,15),
		(73,13),
		(107,7),
		(85,20),
		(62,2),
		(133,5),
		(76,15),
		(123,3),
		(56,19),
		(10,12),
		(122,1),
		(56,10),
		(33,6),
		(60,19),
		(141,4),
		(130,18),
		(14,19),
		(113,10),
		(84,15),
		(62,12),
		(124,17),
		(148,17),
		(126,8),
		(3,10),
		(141,6),
		(90,11),
		(40,7),
		(89,4),
		(2,8),
		(53,1),
		(146,17),
		(36,3),
		(76,5),
		(19,12),
		(144,13),
		(31,19),
		(61,17),
		(128,3),
		(73,5),
		(53,19),
		(10,15),
		(27,11),
		(102,12),
		(11,20),
		(75,11),
		(147,14),
		(139,7),
		(130,6),
		(97,1),
		(107,19),
		(66,14),
		(17,13),
		(5,20),
		(126,1),
		(80,6),
		(13,8),
		(5,1),
		(34,19),
		(62,11),
		(114,18),
		(98,1),
		(65,11),
		(3,1),
		(116,17),
		(73,8),
		(134,7),
		(113,16),
		(123,18),
		(113,10),
		(84,16),
		(62,15),
		(78,13),
		(7,16),
		(125,14),
		(27,16),
		(47,8),
		(71,3),
		(132,5),
		(1,14),
		(74,2),
		(134,5),
		(39,16),
		(20,3),
		(5,8),
		(100,19),
		(92,14),
		(110,12),
		(44,3),
		(7,14),
		(99,16),
		(6,3),
		(132,5),
		(42,19),
		(86,10),
		(117,20),
		(54,18),
		(143,10),
		(110,16),
		(104,19),
		(38,17),
		(56,11),
		(72,12),
		(7,9),
		(145,5),
		(101,1),
		(144,10),
		(5,15),
		(5,9),
		(119,12),
		(60,3),
		(138,19),
		(71,18),
		(121,16),
		(121,13),
		(112,13),
		(123,18),
		(62,18),
		(54,15),
		(67,2),
		(52,4),
		(58,5),
		(57,9),
		(2,20),
		(132,6),
		(9,19),
		(40,18),
		(77,18),
		(34,5),
		(102,2),
		(136,6),
		(107,19),
		(126,20),
		(30,11),
		(71,11),
		(19,9),
		(65,14),
		(18,6),
		(91,7),
		(3,16),
		(117,10),
		(149,19),
		(43,19),
		(38,13),
		(10,15),
		(23,13),
		(60,16),
		(91,5),
		(9,17),
		(37,11),
		(86,16),
		(12,9),
		(79,6),
		(112,7),
		(33,13),
		(76,3),
		(126,14),
		(56,15),
		(53,6),
		(116,19),
		(133,14),
		(123,20),
		(38,10),
		(83,8),
		(110,7),
		(112,14),
		(110,8),
		(121,13),
		(114,15),
		(133,10),
		(137,3),
		(21,1),
		(116,4),
		(9,1),
		(121,6),
		(86,17),
		(122,15),
		(37,19),
		(85,12),
		(114,12),
		(30,17),
		(79,19),
		(103,12),
		(70,12),
		(92,5),
		(40,2),
		(48,2),
		(122,6),
		(73,4),
		(147,19),
		(6,1),
		(138,12),
		(148,20),
		(107,2),
		(35,8),
		(137,6),
		(25,2),
		(23,10),
		(103,6),
		(55,2),
		(101,16),
		(42,19),
		(14,18),
		(85,4),
		(129,1),
		(110,6),
		(123,19),
		(94,4),
		(92,15),
		(131,17),
		(82,4),
		(16,4),
		(44,18),
		(42,1),
		(34,12),
		(98,12),
		(110,9),
		(24,3),
		(86,9),
		(142,17),
		(51,19),
		(88,2),
		(52,4),
		(15,19),
		(33,8),
		(74,11),
		(91,3),
		(9,17),
		(28,11),
		(116,20),
		(47,13),
		(74,14),
		(110,7),
		(135,20),
		(9,13),
		(11,12),
		(100,14),
		(141,10),
		(61,14),
		(38,1),
		(73,12),
		(101,18),
		(89,14),
		(23,17),
		(47,2),
		(54,10),
		(19,1),
		(10,18),
		(23,13),
		(138,5),
		(74,10),
		(67,10),
		(44,10),
		(109,18),
		(150,18),
		(30,12),
		(128,6),
		(114,7),
		(56,14),
		(12,17),
		(133,12),
		(8,9),
		(44,2),
		(14,3),
		(43,4),
		(36,4),
		(38,16),
		(127,17),
		(34,11),
		(107,9),
		(144,8),
		(24,20),
		(84,3),
		(121,18),
		(150,15),
		(91,13),
		(82,16),
		(93,6),
		(135,9),
		(47,18),
		(119,10),
		(133,15),
		(97,8),
		(148,3),
		(140,7),
		(90,18),
		(101,3),
		(84,9),
		(111,17),
		(103,14),
		(12,15),
		(108,17),
		(130,8),
		(4,9),
		(106,14),
		(121,20),
		(125,2),
		(142,1),
		(22,8),
		(149,12),
		(67,9),
		(8,17),
		(76,8),
		(50,12),
		(90,18),
		(93,15),
		(74,10),
		(61,5),
		(66,10),
		(95,18),
		(8,18),
		(145,17),
		(18,15),
		(139,20),
		(115,1),
		(38,17),
		(90,15),
		(95,6),
		(13,20),
		(16,15),
		(126,13),
		(87,17),
		(59,17),
		(135,13),
		(56,3),
		(68,17),
		(69,18),
		(31,14),
		(106,9),
		(62,12),
		(118,12),
		(101,16),
		(1,20),
		(146,16),
		(147,19),
		(64,13),
		(94,1),
		(13,10),
		(75,19),
		(122,15),
		(149,3),
		(34,3),
		(2,11),
		(80,12),
		(109,19),
		(13,5),
		(92,16),
		(79,15),
		(149,2),
		(115,10),
		(131,8),
		(57,20),
		(19,15),
		(80,4),
		(41,16),
		(14,7),
		(113,8),
		(135,8),
		(92,12),
		(84,1),
		(3,1),
		(46,1),
		(32,12),
		(105,2),
		(111,16),
		(53,1),
		(45,13),
		(35,2),
		(112,13),
		(110,2)
''')

Задание 3 [1 балл]. Выведите топ-10 курсов, которые ведут наименьшее число преподавателей. Расположите в порядке возрастания числа преподавателей.

In [18]:
c.execute('''
        select title, cnt from
        (select course_id, count(*) as cnt
        from Teaching t
        group by course_id
        order by cnt limit 10) as tmp
        inner join Courses c on tmp.course_id=c.course_id
''')
pd.DataFrame(c.fetchall(), columns=['название курса', 'число преподов'])

                         название курса  число преподов
0               Аналитическая геометрия               3
1                               История               3
2                   Теория вероятностей               4
3                 Дискретная математика               5
4                             Экономика               5
5                                  ТФКП               6
6      Английский язык для коммуникации               7
7                     Машинное обучение               7
8  Компьютерный практикум по математике               7
9                 Математический анализ               7

Задание 4 [2 балла]. Напишите запрос, который выведет топ-10 преподавателей, которые преподают у наибольшего числа студентов. Расположите их в порядка убывания числа студентов.

In [19]:
c.execute('''
        select surname, name, lastname, cnt from
        (select t.professor_id, count(*) as cnt
        from Teaching t
        join Attending a on t.course_id=a.course_id
        group by t.professor_id
        order by cnt desc limit 10) as tmp
        inner join Professors p on p.professor_id=tmp.professor_id
        
''')
pd.DataFrame(c.fetchall(), columns=['Фамилия', 'Имя', 'Отчество', 'Количество студентов'])

    Фамилия       Имя       Отчество  Количество студентов
0   Федоров  Мухаммед     Богданович                   287
1   Федоров    Жаклин      Данилович                   239
2  Соловьев    Герман      Данилович                   222
3   Федоров     Оскар     Кириллович                   221
4     Попов   Агнесса       Ефимович                   210
5   Лебедев      Ефим    Геннадиевич                   200
6    Волков     Оскар     Кириллович                   179
7    Козлов    Глория     Кириллович                   158
8   Морозов    Карина  Александрович                   158
9   Соколов   Агнесса      Борисович                   156

Задание 5 [1.5 балла]. Для каждой группы студентов, поступивших не ранее 2019 года, выведите размах между максимальной и минимальной датами рождений студентов в этой группе.

In [20]:
c.execute('''
        select study_group, JULIANDAY(max(birthday)) - JULIANDAY(min(birthday))
        from Students
        where admissionYear >= 2019
        group by study_group
''')
pd.DataFrame(c.fetchall(), columns=['Группа', 'Разница между макс и мин датами рождения'])

   Группа  Разница между макс и мин датами рождения
0    A191                                    1142.0
1    A192                                    1212.0
2    A193                                       0.0
3    A195                                     578.0
4    A201                                    1547.0
..    ...                                       ...
66   D215                                     989.0
67   D222                                    1123.0
68   D223                                       0.0
69   D224                                    1074.0
70   D225                                     592.0

[71 rows x 2 columns]

Задание 6 [1.5 балла]. Среди преподавателей, родившихся в период между самой ранней датой начала работы в нашем университете и самой ранней датой начала трудовой деятельности по всем преподавателям, определите самое популярное имя.

In [47]:
c.execute('''
        select name, count(*) as cnt
        from
        (select surname, name, lastname,
        (min(startDateUniversity) over() - strftime('%Y', birthdate)) as diff_with_uni,
        (strftime('%Y', birthdate) - min(startDateWork) over()) as diff_with_work
        from Professors) as tmp
        where diff_with_uni>=0 and diff_with_work>=0
        group by name
        order by cnt limit 1
        
''')
pd.DataFrame(c.fetchall(), columns=['Самое популярное имя среди искомых', 'Количество'])

  Самое популярное имя среди искомых  Количество
0                            Агнесса           1

На сгенерированных данных не оч видно, но запрос должен быть верен (P.s тут предположение что min(startDateWork) всегда меньше min(startDateUniversity), иначе противоречие с тем, что работать начинали позже работы в университете)